header{
    display: flex;
    justify-content: space-between;
    height: 20%;
    box-shadow: -1px -1px 1px 1px gray;
}
h2{
    margin: 2%;
}
#detail{
    display:flex;
    margin-top: 3%;
    height: 400px;
    width: 1200px;
    border:solid inherit;
}
#back{
   
    height: 35px;
    width:55px;
    border: none;
    margin-top: 1%;
    margin-left: 1%;
    box-shadow: 0px -1px 3px 3px gray;
    color:inherit;
    font-size: 17px;
   
    background-color: inherit;
    
    
}
#image{
    height: 100%;
    width:50%;
}
img{
    height: 100%;
    width:50%;
    object-fit: cover;
}
#country{
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 100%;


}
.box{
    padding-left: 5%;
    width: 50%;
    height: 100%;

}
#right{
    padding-top: 10%;
}
#dark{
    background-color: Transparent;
    border: none;
    color:inherit
}
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    #detail{
        margin-top: 10%;
        flex-direction: column;
        padding-left: 6%;
        min-width: 320px;
        /* height:700px */
         
    }
    img{
        width:260px
    }
    #country{
        flex-direction: column;
        padding:0px;

    }
    #right{
        padding:0px;
        margin-left:2%;
       
    }
    #left{
        padding:0px;
        margin:2%;
    }
    header{
        width:75%;
    }
    #back{
        margin-top: 5%;
    }

    
}
