

header{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 1px 1px 1px 1px inherit;
    
    background-color:inherit;
    filter: brightness(120%);
    
}
button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:inherit;
}
app-country-card {
    
    
    display:flex;
    height: auto;
    width:1100px ;
    flex-wrap: wrap;
    justify-content: center;
    margin: 7%;

    
}
input{
    height: 35px;
    width: 250px;
    margin-top: 2%;
    margin-left: 7%;
}
#searchButton{
    height: 30px;
    width: 50px;
    border: inherit;
   
}
#region{
    margin-left: 40%;
    height: 35px;
    width: 200px;
}
