

header{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: -1px -1px 1px 1px gray;
    
    background-color:inherit;
    filter: brightness(120%);
    
}
#dark {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:inherit;
}
app-country-card {
    
    
    display:flex;
    height: auto;
    width:1270px ;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 5%; */

    
}
input{
    height: 35px;
    width: 250px;
    margin-top: 2%;
    margin-left: 7%;
}
#searchButton{
    height: 30px;
    width: 50px;
    border: inherit;
   
}
#region{
    margin-left: 40%;
    height: 35px;
    width: 200px;
}
#searching{
    height: 40px;
    border-radius: 7px;
    box-shadow: -1px -1px 1px 1px gray;
    border:black;
    font-size: 15px;
}
#searchButton{
    background-color: inherit;
    height: 35px;
    width: 50px;
    border-radius: 5px;
    padding: 0px;
    margin-left: 5px;
    color:inherit;
    box-shadow: -1px -1px 1px 1px gray;
    
}
#region{
    height: 40px;
    border-radius: 7px;
    box-shadow: -1px -1px 1px 1p black;
    border-top: none;
}
#regionButton{
    background-color: inherit;
    height: 35px;
    width: 50px;
    border-radius: 5px;
    padding: 0px;
    margin-left: 5px;
    color:inherit;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    app-country-card {
       min-width: 320px;
       height: auto;
    }
}